@charset *UTF-8";



hr {
	 margin: 30px 0;   
}

hr.style-one {
	border: 0;
	height: 1px;
	background: #333;
	background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
	background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}
hr.style-two {
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

hr.style-three {
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}

hr.style-four {
	height: 6px;
	border: 0;
	box-shadow: inset 0 6px 6px -6px black;
}

hr.style-five {
	border: 0;
	height: 0;
	box-shadow: 0 0 10px 1px black;
}

#form-one {
	width:80%;
}
#form-two {
	width:80%;
}
#instruction-group{
	background-color:#334175;
	opacity:0.60;

	border-radius: 10px;
}


#menu-button {
	background-color:#FBF391;
	border-style: none;
	color:#332F79;
}
#menu-button:hover{
	background-color:#D4CB5A;
	border-style: none;
	color:#332F79;
}
#next-button {
	background-color:#E8C7E4;
	border-style: none;
	color:#332F79;
	float:left;
	text-align:left;
	//width:40%;
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 23px 0 23px 0;
}
#next-button:hover {
	background-color:#CD94C6;
	border-style: none;
	color:#332F79;
	float:left;
	text-align:left;
	//width:40%;
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 23px 0 23px 0;
}
.text-statistic {
	font-size:large;
}


h1 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	line-height: 55px;
	font-size: 46px;
	color:#332F79;
	text-transform: uppercase;
	margin: 10px 0 10px 0;
	}
h2 {
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-style: italic;
	color:#332F79;
	font-size: 22px;
	line-height: 20px;
	margin: 0 0 23px 0;
	}
h3 {
	font-family: 'Droid Serif', serif;
	font-size: 22px;
	font-weight: 300;
	color:#332F79;
	line-height: 23px;
	margin: 0 0 5px 0;
	}
	
h4 {
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	margin: 20px 20px 20px 20px;
	color:#332F79;
	font-weight: bold;
	
}
p {
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	margin: 20px 20px 20px 20px;
	color:#332F79;
	
}

p.normal {
	font-weight: normal;
}
	
#text-how-it-works{
	color: #FFFCDB;
	font-family: 'Droid Serif', serif;
	font-size: 13px;
	font-style: thin;
	
	margin: 0 0 23px 0px;
	
}
#heder-how-it-works{
	font-family: 'Droid Serif', serif;
	color: #FFFCDB;
	font-weight: 400;
	font-style: italic;
	font-size: 20px;
	line-height: 26px;
	margin: 0 0 23px 0;
}
	
.free{
	color: #332F79;
	font-family: 'Droid Serif', serif;
	
}


.p-green-background {
	color: #332F79;
	font-family: 'Droid Serif', serif;
	font-size: 17px;
	font-style: thin;

	margin: 10px 0 23px 0;
}

.h1-green-background {
	color: #332F79;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	line-height: 51px;
	font-size: 46px;
	text-transform: uppercase;
	margin: 10px 0 10px 0;
}
.h2-green-background {
	color: #332F79;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 22px;
	line-height: 20px;
	margin: 0 0 23px 0;
}
.h3-green-background {
	color: #332F79;
	font-family: 'Droid Serif', serif;
	font-size: 22px;
	font-weight: 300;
	line-height: 23px;
	margin: 0 0 5px 0;
}
.h4-green-background {
	color: #332F79;
	font-family: 'Droid Serif', serif;
	font-size: 22px;
	font-weight: 300;
	line-height: 23px;
	margin: 15px 0 5px 0;
}
body {
	//background-color: #FFFAB9;
	background-color: #ffffff;
}

#post-job-form{
	//background-color: #FBF391;
	background-color: #FFFCDB;
	//background-color: #FFFAB9;
}
.my-radio-button {
	color: #332F79;
	font-family: 'Droid Serif', serif;
	font-size: 17px;
	margin-left: 20px;
}

#back-button-post-job {
	background-color:#E8C7E4;
	border-style: none;
	color:#332F79;
	text-align:right;
	//width:10%;
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 23px 20px;
}
#back-button-post-job:hover {
	background-color:#CD94C6;
	border-style: none;
	color:#332F79;
	text-align:right;
	//width:10%;
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 23px 20px;
}

#next-button-post-job {
	background-color:#E8C7E4;
	border-style: none;
	color:#332F79;
	text-align:left;
	//width:10%;
	
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 23px 20px;
}

#next-button-post-job:hover {
	background-color:#CD94C6;
	border-style: none;
	color:#332F79;
	text-align:left;
	//width:10%;
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 23px 20px;
}

#sign-in-contractor{
	background-color:#E8C7E4;
	border-style: none;
	color:#332F79;
	text-align:left;
	//width:10%;
	
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 23px 0px;
}
#sign-in-contractor:hover {
	background-color:#CD94C6;
	border-style: none;
	color:#332F79;
	text-align:left;
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 23px 0px;
}

.job-column {
	height : 350px;

}

.inside{
	width: 85%;
	height:100%;
	border: 3px solid;
//	border-color:#4F4B94;
	border-color:#f0f0f0;

	border-radius: 0px;
	margin: 0 auto;
	text-overflow: ellipsis; 
	overflow: hidden ;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: url(desaturate.svg#greyscale);
}
.inside:hover  {
	width: 85%;
	height:100%;
	border: 1px solid;
	//border-color:#4F4B94;
	//border-color:#f0f0f0;
	border-color:#cdcce8;
	border-radius: 0px;
	text-overflow: ellipsis; 
	overflow: hidden;
	 box-shadow: 0 0 15px #888888;
	-moz-box-shadow: 0 0 15px #888888;
	-webkit-box-shadow: 0 0 15px #888888;
	margin: 0 auto;


	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: url(desaturate.svg#greyscale);
} 

.inside:hover > #color_stripe
{
	background:#cdcce8;
	
}

#color_stripe {
background:#f0f0f0;
}


.job-logo{
	height:20%;
	margin: 40px 23px 10px 23px;
}
.job-text
{
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	margin: 20px 20px 20px 20px;
	color:#4F4B94;

}
.job-SubCategory{
	font-family: 'Droid Serif', serif;
	font-size: 20px;
	margin: 20px 20px 20px 20px;
	color:#4F4B94;
}
.job-Category{
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	color:#4F4B94;
}
.how-to-icon {
	height: 70px;
	width: 70px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	
}

.selected-job-inside {
	width: 80%;
	height:180%;
	border: 3px solid;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
//	border-color:#4F4B94;
	border-color:#f0f0f0;
	float:center;
	border-radius: 0px;
	margin-bottom: 40px;
	text-overflow: ellipsis; 
	overflow: hidden ;
}

#bid-button{
	background-color:#E8C7E4;
	border-style: none;
	color:#332F79;
	text-align:left;
	//width:10%;
	
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 23px 0px;
}
#bid-button:hover {
	background-color:#CD94C6;
	border-style: none;
	color:#332F79;
	text-align:left;
	font-family: 'Droid Serif', serif;
	color:#332F79;
	font-size: 20px;
	line-height: 23px;
	margin: 0 0 23px 0px;
}

.loader {

	left: 0px;
	top: 0px;
	height:20%;
	width:20%;
	z-index: 9999;
	background: url('http://localhost:8080/test/images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.img-responsive
{
	width: 197px !important;
	height: 100px !important;
}

.container 
{

	top: 44px;
}