/* line 8, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\000038}}
.appBarImage {
  background-position: left;
  background-repeat: no-repeat;
  background-color: #fbf391;
  position: relative;
  float: left;
}
/* line 17, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000317}}
body {
  font-family: 'Segoe UI', sans-serif;
}
/* line 22, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000322}}
span {
  font-style: italic;
}
/* line 27, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000327}}
.logoHolder {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 100px;
  margin-top: 45px;
}
/* line 38, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000338}}
.menuButton {
  display: inline-block;
  padding: 10px 16px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4285;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #FBF391;
  border-style: none;
  color: #332f79;
}
/* line 64, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000364}}
.callToActionHolder {
  width: 100%;
  position: relative;
}
/* line 70, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000370}}
.content {
  position: relative;
  margin-top: 45px;
}
/* line 76, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000376}}
.logoAppBar {
  float: left;
}
/* line 81, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000381}}
.appBar {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: #FBF391;
  z-index: 200;
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  border-width: 2px;
}
/* line 93, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\0000393}}
.middlePartHolder {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  /* line 100, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003100}}
  .middlePartHolder {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 106, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003106}}
  .middlePartHolder {
    width: 1170px;
  }
}
/* line 112, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003112}}
.explanationItem {
  color: #fffcdb;
  padding-left: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  -ms-flex-flow: row;
  flex-flow: row;
  padding-bottom: 8px;
}
/* line 135, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003135}}
.explanationText {
  padding-left: 5px;
}
/* line 140, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003140}}
.enumeration {
  color: #73a633;
  font-family: 'Droid Serif', serif;
  font-size: 15px;
  line-height: 5px;
}
/* line 147, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003147}}
.warningText {
  background-color: #E8C7E4;
  margin-top: 10px;
  visibility: hidden;
}
/* line 154, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003154}}
.navbar-inverse {
  background-color: #fbf391;
}
/* line 159, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003159}}
.contener {
  top: 48px;
}
/* line 164, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003164}}
.imageHolder {
  background-image: url("../background13.png");
  height: 522px;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: 87% 0%;
  top: 46px;
}
/* line 175, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003175}}
.howItWorks {
  background-color: #334175;
  opacity: 0.6;
  border-radius: 10px;
}
@media (max-width: 1380px) {
  /* line 180, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003180}}
  .howItWorks {
    left: -78px;
    top: 38px;
  }
}
@media (max-width: 1200px) {
  /* line 185, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003185}}
  .howItWorks {
    top: 38px;
    margin-left: 11px;
  }
}
@media (max-width: 992px) {
  /* line 190, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003190}}
  .howItWorks {
    display: none;
    visibility: hidden;
  }
}
/* line 198, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003198}}
.headingBig {
  color: #332f79;
  font-family: "Oswald", sans-serif;
  line-height: 51px;
  font-size: 46px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  /* line 205, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003205}}
  .headingBig {
    font-size: 36px;
  }
}
@media (max-width: 992px) {
  /* line 209, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003209}}
  .headingBig {
    font-size: 36px;
  }
}
/* line 215, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003215}}
.headerMedium_wellcomeScreen {
  color: #332F79;
  font-family: 'Droid Serif', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  line-height: 20px;
  margin: 0 0 23px 0;
}
@media (max-width: 1200px) {
  /* line 224, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003224}}
  .headerMedium_wellcomeScreen {
    font-size: 23px;
  }
}
/* line 231, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003231}}
.textHowItWorks {
  color: #fffcdb;
  font-family: "Droid Serif", serif;
  font-size: 13px;
}
/* line 238, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003238}}
.headerHowItWorks {
  font-family: "Droid Serif", serif;
  color: #fffcdb;
  font-style: italic;
  font-size: 20px;
  line-height: 26px;
}
/* line 247, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003247}}
.howItWorksLowerSection {
  margin: 10px 0 23px 0;
}
/* line 252, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003252}}
.textBlue_common {
  font-family: "Droid Serif", serif;
  color: #332f79;
}
/* line 258, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003258}}
.textItalic {
  font-style: italic;
}
/* line 263, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003263}}
.textBold {
  font-weight: bold;
}
/* line 268, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003268}}
.textBlue_small_regular {
  font-family: "Droid Serif", serif;
  color: #332f79;
  font-size: 15px;
}
/* line 274, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003274}}
.textBlue_small_bold {
  font-family: "Droid Serif", serif;
  color: #332f79;
  font-size: 15px;
  font-weight: bold;
}
/* line 281, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003281}}
.textBlue_medium_italic {
  font-family: "Droid Serif", serif;
  color: #332f79;
  font-style: italic;
  font-size: 22px;
  line-height: 20px;
}
/* line 289, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003289}}
.textBlue_large_regular {
  font-family: "Droid Serif", serif;
  color: #332f79;
}
/* line 294, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003294}}
.howItWorksColumnsHolder {
  margin-top: 40px;
}
/* line 299, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003299}}
.howItWorksPanel {
  text-align: center;
  margin-top: 110px;
}
/* line 305, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003305}}
.headingsMedium {
  font-family: "Droid Serif", serif;
  color: #332f79;
  font-style: italic;
  font-size: 22px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  /* line 310, homepage.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003310}}
  .headingsMedium {
    margin-left: 17px;
  }
}
/* line 316, homepage.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/Branislav\/Documents\/Visual Studio 2013\/Projects\/WebApplication4\/WebApplication4\/Less\/homepage\.less}line{font-family:\00003316}}
.dropDownCustom {
  width: 70%;
}
/*# sourceMappingURL=homepage.css.map */