﻿
@yellow: #FBF391;

@screenSize_1380: 1380px;
@screenSize_1200: 1200px;
@screenSize_992: 992px;

.appBarImage 
{
	background-position: left;
	background-repeat: no-repeat;
	background-color: @yellow;
	position: relative;
	float: left;
}

body 
{
	font-family: 'Segoe UI', sans-serif;
}

span 
{
	font-style: italic;
}

.logoHolder 
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	height: 100px;
	margin-top: 45px;
}

.menuButton
{
	display: inline-block;
	padding: 10px 16px;
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.4285;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #FBF391;
	border-style: none;
	color: #332f79;
}

.callToActionHolder 
{
	width:100%;
	position:relative;
}

.content
{
	position: relative;
	margin-top: 45px;
}

.logoAppBar 
{
	float: left;
}

.appBar
{
	position: fixed;
	width: 100%;
	top: 0px;
	background-color:#FBF391;
	z-index: 200;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-width: 2px;
}

.middlePartHolder 
{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

	@media (min-width: @screenSize_992)
	{
	
		width: 970px;
	}

	@media (min-width: @screenSize_1200)
	{
		width: 1170px;
	}
}

.explanationItem 
{
	color: #fffcdb;
	padding-left: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
	-ms-flex-flow: row;
	flex-flow: row;
	padding-bottom: 8px;
}

.explanationText 
{
	padding-left: 5px;
}

.enumeration {
	color: #73a633;
	font-family: 'Droid Serif', serif;
	font-size: 15px;
	line-height: 5px;
}

.warningText 
{
	background-color: #E8C7E4; 
	margin-top: 10px;
	visibility: hidden;
}

.navbar-inverse 
{
	background-color: #FBF391
}

.contener 
{
	top: 48px;
}

.imageHolder 
{
	background-image: url("../background13.png");
	height: 522px;
	width: 100%;
	position: absolute;
	background-size:cover;
	background-position: 87% 0%;
	top: 46px;
}

.howItWorks 
{
	background-color: #334175;
	opacity: 0.6;
	border-radius: 10px;
	@media (max-width: @screenSize_1380)
	{
		left: -78px;
		top: 38px;
	}
	@media (max-width: @screenSize_1200)
	{
		top: 38px;
		margin-left: 11px;
	}
	@media (max-width: @screenSize_992)
	{
		display: none;
		visibility: hidden;
	}

}

.headingBig 
{
	color: #332f79;
	font-family: "Oswald", sans-serif;
	line-height: 51px;
	font-size: 46px;
	text-transform: uppercase;
	@media (max-width: @screenSize_1200)
	{
		font-size: 36px;
	}
	@media (max-width: @screenSize_992)
	{
		font-size: 36px;
	}
}

.headerMedium_wellcomeScreen
{
	color: #332F79;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 22px;
	line-height: 20px;
	margin: 0 0 23px 0;
	@media (max-width: @screenSize_1200)
	{
		font-size: 23px;
	}

}

.textHowItWorks 
{
	color:#fffcdb;
	font-family:"Droid Serif", serif;
	font-size: 13px;
}

.headerHowItWorks
{
	font-family:"Droid Serif", serif;
	color: #fffcdb;
	font-style: italic;
	font-size: 20px;
	line-height: 26px;
}

.howItWorksLowerSection
{
	margin: 10px 0 23px 0;
}

.textBlue_common
{
	font-family:"Droid Serif", serif;
	color: #332f79;
}

.textItalic
{
	font-style: italic;
}

.textBold
{
	font-weight: bold;
}

.textBlue_small_regular
{
	.textBlue_common;
	font-size: 15px;
}

.textBlue_small_bold
{
	.textBlue_common;
	font-size: 15px;
	.textBold;
}

.textBlue_medium_italic
{
	.textBlue_common;
	.textItalic;
	font-size: 22px;
	line-height: 20px
}

.textBlue_large_regular
{
	.textBlue_common;
}

.howItWorksColumnsHolder
{
	margin-top: 40px;
}

.howItWorksPanel
{
	text-align: center;
	margin-top: 110px;
}

.headingsMedium
{
	.textBlue_medium_italic;
	margin-top: 30px;
	margin-bottom: 30px;
	@media (max-width: @screenSize_992)
	{
		margin-left: 17px;
	}
}

.dropDownCustom
{
	width: 70%;
}