﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

	<link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/site/RadisaTypescriptFinall/css")
    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jsfiles")
</head>
<body>
	<div class="appBar text-right">
		<img src="../AppBarLogo.png" class="appBarImage" />
		<ul class="btn-group btn-group-lg ">
			<li class="menuButton">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null) </li>
			<li class="menuButton">@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
		</ul>
	</div>
    <div class="mainContainer">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
