﻿
<div class="imageHolder"></div>
<div class="content">
	<div class="callToActionHolder">
		<div class="middlePartHolder">
			<div class="row">
				<div class="col-md-12 col-md-12">
					<h1 class="headingBig h1-green-background "> <strong>Neke stvari je bolje ostaviti profesionalcima</strong></h1>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<h2 class="h2-green-background headerMedium_wellcomeScreen"> <strong>Mi imamo na hiljade ocenjenih izvođača širom Srbije</strong></h2>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-xs-6">
					<h3 class="h3-green-background headerMedium_wellcomeScreen"> <strong>Postavi posao - <span style="color:#933F89; font-size:38px">besplatno!</span></strong></h3>
					<p class="p-green-background">Dobićeš ponudu izvođača na e-mail ili telefonom</p>
				</div>
			</div>

			<!-- form -->
			<div class="row">
				<div class="col-md-6">
					<h4 class="h4-green-background "> <strong>Oblast iz koje ti treba pomoć</strong></h4>
					<div class="dropdown dropDownCustom">
						<select class="form-control" id="select1">
							<option selected disabled>Izaberite oblast</option>
						</select>
						<p class="warningText" id="warningStringCategory">Izaberite oblast</p>
					</div>

					<h4 class="h4-green-background "> <strong>Koja vrsta posla?</strong></h4>
					<div class="dropdown dropDownCustom">
						<div class="dropdown" style="width:100%">
							<select class="form-control" id="select2">
								<option selected disabled>Izaberite vrstu posla</option>
							</select>
							<p class="warningText" id="warningStringOptions">Izaberite kategoriju</p>
						</div>
						<button id="nextButton" type="button" class="btn btn-primary btn-lg">Sledeći korak <span class="glyphicon glyphicon-chevron-right pull-right"></span></button>
					</div>

				</div>
				<div class="howItWorks col-md-4 col-xs-12" id="instruction-group">
					<h4 class="headerHowItWorks"> <b>Kako ovo funkcioniše</b></h4>
					<div class="textHowItWorks">
						<div class="explanationItem">
							<span class="enumeration">1.</span>
							<span class="explanationText">Postavi posao besplatno </span>
						</div>
						<div class="explanationItem">
							<span class="enumeration">2.</span>
							<span class="explanationText">Dobiješ ponude od izvođača </span>
						</div>
						<div class="explanationItem">
							<span class="enumeration">3.</span>
							<span class="explanationText">Pogledaj njihove ocene i komentare </span>
						</div>
						<div class="explanationItem">
							<span class="enumeration">4.</span>
							<span class="explanationText">Izaberi najboljeg</span>
						</div>
						<div class="explanationItem">
							<span class="enumeration">5.</span>
							<span class="explanationText">
								Oceni svog izvođača i pomozi ostalima u izboru
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="howItWorksPanel">
				<div class="container howItWorksLowerSection">
					<div class="textBlue_medium_italic">Kako ovo funkcioniše</div>
					<div class="justifyColumns howItWorksColumnsHolder">
						<div class="col-md-4 col-xs-6">
							<div class="textBlue_small_bold">Postavi</div>
							<p class="normal textBlue_small_regular">Each month, Rated People connects over 50,000 homeowners with quality tradesmen - simply enter your job details in the form above to get started.</p>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="textBlue_small_bold">Izaberi</div>
							<p class="normal textBlue_small_regular">We'll match your job to the relevant tradesmen in your area - those interested will pay to see your contact details and call you to quote.</p>
						</div>
						<div class="col-md-4 col-xs-6">
							<div class="textBlue_small_bold">Oceni</div>
							<p class="normal textBlue_small_regular">As each tradesman expresses interest in quoting on your job, we'll send you their profile and ratings to help you choose the right one for you.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="headingsMedium">Proverite izvođače pre nego što prihvatite ponudu</div>
				<div class="col-md-6 ">
					<p class="normal textBlue_small_regular">
						Naše statistike pokazuju da se čak 85% ljudi slaže: teško je naći dobrog majstora.
						Istina je, ponekad ne znaš šta da očekuješ.
						Naši izvođači su ocenjeni od ljudi kao što si ti, ocenjuje se kvalitet, pouzdanost i ono šta dobijaš za svoj novac.
						Sa nekoliko desetina hiljada korisnika i stotina hiljada ocena, zagarantovno je da ćeš pronaći pravog izvođača za svoj posao.

						Plus sav dosadni posao obavljamo mi za tebe. Nema više traženja brojeva, poziva, ostavljanja poruka, čekanja na poziv od majstora ceo dan.

						<b>Jednostavno postavi svoj posao koristeći formu. Sve ostalo je na nama.</b>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="headingsMedium"> Ja sam izvođač, šta dobijam od svega ovoga?</div>
				<div class="col-md-6 ">
					<p class="normal textBlue_small_regular">
						U današnje vreme, teško je naći kvalitetnog izvođača radova.
						Ako ste kvalitetni, pouzdani i znate svoj posao - pravi ste izvođači za nas!
						Svakodnevno dobijamo zahteve za razne poslove, izvođačima prosleđujemo samo one koji su iz izabrane branše.
						Kod nas izvođače par klikova deli od dodatnih poslova!
						Prijavite se na našu listu izvođača!
					</p>
					<button id="signContractor" type="button" class="btn btn-primary btn-lg">PRIJAVI SE <span class="glyphicon glyphicon-chevron-right pull-right"></span></button>
				</div>
			</div>
		</div>
	</div>
</div>